<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web-app="http://java.sun.com/xml/ns/javaee"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee /src/main/resources/web-app_3_1.xsd">
    <web-app:display-name>Java Faces CRUD</web-app:display-name>
    <web-app:welcome-file-list>
        <web-app:welcome-file>tickets.jsp</web-app:welcome-file>
    </web-app:welcome-file-list>
</web-app>
